<form action="{% url 'penulis:update_artikel' form.instance.pk %}" method="POST" class="js-artikel-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Edit Artikel</h4>
    </div>
    <div class="modal-body">
        {% include 'penulis/artikel_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-primary">Update Artikel</button>
    </div>
</form>