{% extends 'base.html' %}


{% block title_app %}
    {{page_title}}
{% endblock title_app %}


{% block content %}
    <h1>Register Page</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h3>Register Here</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    {% for dataform in form %}
                        {{dataform.label}}
                        {{dataform}}
                    {% endfor %}
                        
                    <button type="submit" class="btn btn-primary">Register</button>
                    <br>
                    <p>Already have account login <a href="{% url 'penulis:login' %}">Here</a></p>
                </form>
            </div>
        </div>
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='ex: ggg@eee.aaa'
        form_fields[3].placeholder='Password';
        form_fields[4].placeholder='Confirm Password';

        for (var field in form_fields){
            form_fields[field].className += 'form-control';
        }
    </script>
{% endblock content %}
    