{% extends 'base.html' %}


{% block title_app %}
    {{page_title}}
{% endblock title_app %}


{% block content %}
    <h1>{{page_title}}</h1>
    <div class="row">
        <div class="col-md-8">
            <h1>{{artikel.judul}}</h1>
            <h5>Kategori : {{artikel.kategori}} | {{artikel.published | date}}</h5>
            <h5>Penulis : <a href="{% url 'artikel:profile_penulis' artikel.penulis.id %}">{{artikel.penulis}}</a></h5>
            <p>{{artikel.isi}}</p>
        </div>
        <div class="col-sm">
            <h3>Artikel Serupa</h3>
            <ul class="list-group list-group-flush">
                
                {% for dataartikel in artikelSerupa %}
                    
                    {% if forloop.counter is not 3 %}
                        <li class="list-group-item">
                            <h5><a href="{% url 'artikel:detail' dataartikel.slug %}">{{dataartikel.judul}}</a></h5>
                            <p>{{dataartikel.published|date}}</p>
                        </li>
                    {% endif %}
                        
                {% endfor %}
                <li class="list-group-item">
                    <a href="#">Selengkapnya</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
    