{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title_app %}
            
        {% endblock title_app %}
        
    </title>
    {% include 'scripts.html' %}
    
    {% block javascripts %}
        
    {% endblock javascripts %}
    <link rel="stylesheet" href="{% static 'vendor/bs/css/bootstrap.css' %}">
</head>
<body>
    {% include 'navbarpenulis.html' %}
    <div class="container" style="margin-top: 20px;">
        
        {% block content %}
            
        {% endblock content %}
            
    </div>
        
</body>
</html>